<div class='hero'>
	  <br />
	    <div class="frosty col-10 offset-1 text-center">
    <br />
<h1>Whoosh</h1>
    <br />
        <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
        <br />    <br />
</div>
</div>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>The best tutorials</h3>
    <br />
    <p>Want to learn anything today? TvTutor has you covered! </p>
    </p>
      </div>

  <div class="col-12 col-sm">
    <h3><At your own pace/h3>
    	<br />
    	<p>Need a breather? Our tutorials can be adapted to your personal learning speed. Need to go faster? We can do that, too! :) 
  </div>

  <div class="col-12 col-sm">
    <h3>Built by superheroes</h3>
    <br />
    <p>Ever had the feeling a tutorial isn't telling you the full story? Intentionally dumbing things down? Not at TvTutor.</p>
    
  </div>
</div>
