<div class='hero'>
	  <br />
	    <div class="frosty col-10 offset-1 text-center">
    <br />
<h1>Whoosh</h1>
    <br />
    <%= link_to 'Click here for magic', '#', class: 'btn btn-success' %>
        <br />    <br />
</div>
</div>


